
@{
    ViewBag.Title = "Companies";
}


<div class="jumbotron background-color-yellow">
    <div class="row">
        <img class="jumbotron-image jumbotron-float-right fadeIn" src="~/Content/images/companyMonitor.png" />
        <div style="text-align: center; ">
            <h1>Управлявайте своята таксиметрова компания с лекота и сигурност.</h1><br />
            <h4>Направете своята регистация сега и започнете работа с приложението веднага</h4>
            @Html.ActionLink("Регистрирай се", "RegisterCompany", "Account", "", new { @class = "btn btn-success", @style = "font-size: 30px;" })
        </div>

    </div>
</div>

<div id="panel-our-uses">
    <div class="container body-content">
        <div class="row">
            <div class="col-md-4 box-spacing ">
                <div class="white-box">
                    <div style="width:40%; margin: 0 auto;">
                        <img src="~/Content/images/1481638181_92.png" style="width:100%" />
                    </div>
                    <h4 style="text-align: center">Сигурно място<br /> за управление на таксиметрова компания</h4>
                    <p style="text-align: justify" id="takerLbl">
                        Уеб порталът позволява управлението на всички шофьори, диспечери и служители само с няколко клика.
                    </p>
                </div>
            </div>
            <div class="col-md-4 box-spacing">
                <div class="white-box">
                    <div style="width:40%; margin: 0 auto;">
                        <img src="~/Content/images/1481638215_85.png" style="width:100%" />
                    </div>
                    <h4 style="text-align: center">Получавайте справки<br />  за ефективността на компанията</h4>
                    <p style="text-align: justify" id="takerLbl">
                        По всяко време можете да получите статистики за работата на своите служители
                    </p>
                </div>
            </div>
            <div class="col-md-4 box-spacing">
                <div class="white-box">
                    <div style="width:40%; margin: 0 auto;">
                        <img src="~/Content/images/1481638208_1.png" style="width:100%" />
                    </div>
                    <h4 style="text-align: center">Бъдете винаги информирани</h4>
                    <p style="text-align: justify" id="takerLbl">
                        Получавайте цялата необходима информация дори от своя смартфон или таблет за секунди.
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>


<script>
    document.getElementById("nav-companyApp").classList.add("nav-selected");
</script>
