
@{
    ViewBag.Title = "Companies";
}


<div class="jumbotron background-color-orange">
    <div class="row">
        <img class="jumbotron-image jumbotron-float-right fadeIn" src="~/Content/images/dispatcherMonitor.png" />
        <div style="text-align: center; ">
            <h1>Диспечерите са винаги информирани за местоположенията и статусите на автомобилите</h1><br />

        </div>

    </div>
</div>

<div id="panel-our-uses">
    <div class="container body-content">
        <div class="row">
            <div class="col-md-4 box-spacing ">
                <div class="white-box">
                    <div style="width:40%; margin: 0 auto;">
                        <img src="~/Content/images/1489029916_23.png" style="width:100%" />
                    </div>
                    <h4 style="text-align: center">Напълно автоматизирана<br /> система за изпращане на заявките</h4>
                    <p style="text-align: justify" id="takerLbl">
                        Диспечерите само трябва да въведат началния адрес, а приложението се грижи заявката да бъде приета възможно най-скоро.
                    </p>
                </div>
            </div>
            <div class="col-md-4 box-spacing">
                <div class="white-box">
                    <div style="width:40%; margin: 0 auto;">
                        <img src="~/Content/images/1489029904_40.png" style="width:100%" />
                    </div>
                    <h4 style="text-align: center">Следене на местоположенията<br />  и статусите на всички коли</h4>
                    <p style="text-align: justify" id="takerLbl">
                        Върху карта се визуализират в маркери всички коли на текущата таксиметрова компания. Те са в различни цветове спрямо техния статус.
                    </p>
                </div>
            </div>
            <div class="col-md-4 box-spacing">
                <div class="white-box">
                    <div style="width:40%; margin: 0 auto;">
                        <img src="~/Content/images/1489029872_87.png" style="width:100%" />
                    </div>
                    <h4 style="text-align: center">Бързина и надежност</h4>
                    <p style="text-align: justify" id="takerLbl">
                        За отпимизирането на бързината е добавена функцията за предполагане на адрес и за търсене на места като кафенета, ресторанти и т.н.
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>


<script>
    document.getElementById("nav-dispatcher").classList.add("nav-selected");
</script>

