@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron background-color-yellow">
    <div class="row">
        <img class="jumbotron-image jumbotron-float-left fadeIn" src="~/Content/images/appOnPhones.png" />
        <div style="text-align: center; ">
            <h1>Поръчайте вашето такси само с един клик</h1><br />
            <h4>Вземете приложението:</h4>
            <ul style="list-style:none">
                <li>
                    <a href="http://bgtaxi.net/download/client/apk"><img class="platform-logo" src="~/Content/images/Android-logo-wordmark-2014-1024x768.png" /></a>
                </li>
                <li>
                   <a href="http://bgtaxi.net/download/client/hap"><img class="platform-logo" src="~/Content/images/Windows_Phone_logo.png" /></a>
                </li>
            </ul>
        </div>

    </div>
</div>

<div id="panel-our-uses">
    <div class="container body-content">
        <div class="row">
            <div class="col-md-4 box-spacing ">
                <div class="white-box">
                    <div style="width:40%; margin: 0 auto;">
                        <img src="~/Content/images/1479075598_88.png" style="width:100%" />
                                            </div>
                    <h4 style="text-align: center">Бърз начин<br /> да поръчате такси</h4>
                    <p style="text-align: justify" id="takerLbl">
                        Изкючетелно лесен и бърз начин да повикате такси само за няколко секунди свързвайки се с най-близката кола в района.
                    </p>
                </div>
            </div>
            <div class="col-md-4 box-spacing">
                <div class="white-box">
                    <div style="width:40%; margin: 0 auto;">
                        <img src="~/Content/images/1478892620_8-1.png" style="width:100%" />
                    </div>
                    <h4 style="text-align: center">Автоматично определяне на местоположението</h4>
                    <p style="text-align: justify" id="takerLbl">
                        Вече не е необходимо да знаете точно къде се намирате, за да поръчате такси. Приложението се грежи за това вместо Вас.
                    </p>
                </div>
            </div>
            <div class="col-md-4 box-spacing">
                <div class="white-box">
                    <div style="width:40%; margin: 0 auto;">
                        <img src="~/Content/images/1479073708_90.png" style="width:100%" />
                    </div>
                    <h4 style="text-align: center">Без ненужни обаждания </h4>
                    <p style="text-align: justify" id="takerLbl">
                        Приложението се свързва автоматично с всички коли отговарящи на вашите предпочитания и не е обаждането на определена таксиметрова компания е излишно.
                    </p>
                </div>
            </div>
           
    </div>
</div>
    </div>


<script>
    document.getElementById("nav-clientApp").classList.add("nav-selected");
</script>