@{
    ViewBag.Title = "Confirm Email";
}

<div class="container">

    <h2>Профилът беше АКТИВИРАН!</h2>
    <h4>@Html.ActionLink("Натиснете тук, за вход", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</h4>
</div>

