@{
    ViewBag.Title = "Нова парола";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
       Вашата парола беше успешна сменена. Моля, @Html.ActionLink("влезте в профила си от тук", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
