
@{
    ViewBag.Title = "SuccessfulRegistration";
}

<div class="container">
    <h2>Вие се регистрирахте успешно!</h2>
    <h4>Активирайте профила си чрез линка, изпратен на вашата поща</h4>
</div>


